# Ambiente virtual
.venv/
venv/

# Arquivos temporários do Python
__pycache__/
*.pyc

# Bancos de dados locais
*.db
*.sqlite
*.sqlite3

# Informações confidenciais
.env
.env.*
!.env.example

# Arquivos do editor
.vscode/